*,
*::after,
*::after {
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(18, 16, 119, 0.637);
}


.chat-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 4em;
    background-color: rgb(255, 243, 220);
    padding: 2em 1.5em;
    border-radius: 5px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.267);
}

.title {
    padding: 5px 10px;
    background-color: orange;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.inputs-container {
    display: flex;
    gap: 5px;
}

.inputs-container button {
    background-color: orange;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
}

.inputs-container input {
    border: 1.5px solid rgba(255, 166, 0, 0.849);
    border-radius: 5px;
    padding: 5px;
}

.message-content {
    max-width: 450px;
    padding: 10px;
    border: 2px solid orange;
    overflow-y: auto;
    height: 300px;
    background-color: rgb(255, 183, 48);
}

.message {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(255, 243, 220);
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.message :nth-child(1) {
    margin: 0;
    font-weight: 600;
    color: rgb(202, 99, 14);
}

.message :nth-child(2) {
    margin: 0;
    /*   overflow: hidden; */
    word-break: break-all;
    line-height: 20px;
}